Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -portability-avoid-pragma-once,
  -readability-avoid-const-params-in-decls,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses,
  -readability-function-cognitive-complexity,
  -modernize-use-designated-initializers,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-redundant-member-init,
  -cppcoreguidelines-avoid-c-arrays,
  -bugprone-exception-escape,
  -bugprone-unchecked-optional-access,
  -readability-qualified-auto,
  -readability-avoid-nested-conditional-operator,
  -readability-convert-member-functions-to-static,
  -readability-named-parameter,
  -cppcoreguidelines-missing-std-forward

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
