Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -portability-avoid-pragma-once,
  -readability-avoid-const-params-in-decls,
  -readability-isolate-declaration
  -readability-math-missing-parentheses

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
